name: CI

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install pylint
        run: pip install pylint

      - name: Run pylint
        run: pylint --disable=E0401,C0114 $(git ls-files '*.py')

